#layout-body{padding:0}
.card{width:23%;float:left;margin:5px;box-shadow:0 1px 5px #ddd}
.card img{height:130px;object-fit:cover}
.cards{overflow:auto;display:block;height:90px;font-size:12px}
.card-title{font-size:20px}
h4.card-title{font-size:15px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.scrolify::-webkit-scrollbar{width:.8em}
.scrolify::-webkit-scrollbar-track{box-shadow:inset 0 0 6px rgba(0,0,0,0.3)}
.scrolify::-webkit-scrollbar-thumb{background-color:orange;outline:1px solid slategrey}
.layout-row aside{height:100%;background:#fff;position:absolute;right:0;top:0;overflow:auto}
.cards{width:66.666666%;height:85%;overflow-y:scroll;padding:15px}
.control-toolbar{border-bottom:1px solid #ddd;padding:15px;margin:0!important}
.btn-circle i{
    font-size: 20px;
}